<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.publicsafetycommission">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PublicSafetyCommission"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateProfile"
            android:exported="false" />
        <activity
            android:name=".viewProfile"
            android:exported="false" />
        <activity
            android:name=".viewComplaints"
            android:exported="false" />
        <activity
            android:name=".PassReset"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".ComplaintRegistrationNew"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>